<div class="container bg-dark text-white">
   <h3 class="text-center">Résultat du jour</h3>
   <table class="table text-white">
     <tr class="text-center">
      <th class="text-info">Test réalisés <h2>838</h2></th>
      <th class="text-danger">Cas positifs <h2>78</h2></th>
      <th class="text-warning">Cas contacts <h2>52</h2></th>
    </tr>
     <tr class="text-center">
      <th class="text-success">Guéris <h2>39</h2></th>
      <th class="text-danger">Cas communautaires <h2>26</h2></th>
      <th class="text-danger">Décès <h2>3</h2></th>
      </tr>
   </table>
</div>
